/* ===== FORMULÁRIO DE CADASTRO ===== */
@import url(variaveis.css);



.form-cadastro {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffffcc;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.form-cadastro label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #0d2149;
}

.form-cadastro input,
.form-cadastro select,
.form-cadastro textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.form-cadastro input:focus,
.form-cadastro select:focus,
.form-cadastro textarea:focus {
  border-color: #0061e8;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 97, 232, 0.3);
}

.form-cadastro .form-grupo {
  margin-bottom: 20px;
}

.botao-enviar {
  background-color: #0061e8;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.botao-enviar:hover {
  background-color: #0d2149;
}

.sobre-forms {
  color: #547507;
  background: center/cover no-repeat;
  margin-bottom: var(--space-2);
  padding: var(--space-4);
  position: relative;
}

.sobre-forms h1 {
  color: var(--cor-primaria);
}
